{% extends 'page.html.twig' %}

{% block body %}
{% if 0 < projects|length %}
<section class="section projects">
{% for project in projects %}
    <div class="box project">
        <div class="columns">
            <div class="column is-narrow is-border-right is-border-none-mobile is-pulled-right-mobile">
                <span class="icon"><i class="far fa-star"></i></span>
            </div>
            <div class="column">
                <span class="is-size-7">Repository</span><br />
                <a href="{{ path_for('project.view', { key: project.key }) }}" class="js-project-link">{{ project.repository }}</a>
            </div>
            <div class="column">
                <span class="is-size-7">Default Branch</span><br />
                {{ project.branch }}
            </div>
            <div class="column">
                <span class="is-size-7">Last Deployment</span><br />
                {{ project.last_release|human_date }}
            </div>
            <div class="column">
                <span class="is-size-7">Author</span><br />
                {{ project.last_author }}
            </div>
            <div class="column">
                <span class="is-size-7">SHA</span><br />
                {{ sha_link(project, project.last_sha) }}
            </div>
            <!-- <div class="column is-narrow">
                <a class="button is-link" href="{{ path_for('project.view', { key: project.key }) }}">View</a>
            </div> -->
        </div>
    </div>
{% endfor %}
</section>

{#
<section class="section">
    <div class="panel">
        <div class="panel-block">
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Repository</th>
                            <th>Last Release</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for project in projects %}
                            <td>{{ project.name }}</td>
                            <td>{{ repo_link(project) }} {{ branch_link(project) }}</td>
                            <td>
                            {% if project.last_release %}
                                {{ sha_link(project, project.last_sha) }} deployed {{ project.last_release|human_date }}
                            {% else %}
                                Never
                            {% endif %}
                            </td>
                            <td><a class="button is-small is-link" href="{{ path_for('project.view', { id: project.id }) }}">View</a></td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
#}
{% else %}
<section class="hero is-light has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        No projects?
      </h1>
      <h2 class="subtitle">
        You don't have any projects yet - create one and then you can start deploying!
      </h2>
      <p><a class="button is-primary" href="{{ path_for('project.add') }}">Add a new project</a></p>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
