{% extends 'page.html.twig' %}

{% block body %}
{% if 0 < projects|length %}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Name</th>
            <th>Repository</th>
            <th>Last Released</th>
            <th>Last Sha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for project in projects %}
            <td>{{ project.name }}</td>
            <td>{{ project.provider }}:{{ project.repository }}@{{ project.branch }}</td>
            <td>{% if project.last_release %}{{ project.last_release|date('Y-m-d @ H:i:s') }}{% else %}Never{% endif %}</td>
            <td>{% if project.last_sha %}{{ project.last_sha|slice(0,7) }}{% else %}N/A{% endif %}</td>
            <td><a href="{{ path_for('project.edit', { id: project.id }) }}">Edit</a></td>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% else %}
<div class="blankslate">
  <h3>No projects found</h3>
  <p><a href="{{ path_for('project.add') }}">Click here to add one</a></p>
</div>
{% endif %}
{% endblock %}
