{% extends 'page.html.twig' %}

{% block body %}
<div class="dropdown-item">
    <form method="POST" action="{{ path_for('project.deploy', { key: project.key } ) }}">
        <div class="field">
            <p class="control has-icons-left is-block">
                <span class="select">
                    <select name="project[branch]">
                    {% for type,options in tags_branches %}
                       <optgroup label="{{ type|title }}">
                        {% for name in options %}
                            <option value="{{ type }}:{{ name }}"{% if project.branch == name %} selected="selected"{% endif %}>{{ name }}</option>
                        {% endfor %}
                    {% endfor %}
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fas fa-code-branch"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <button type="submit" class="button is-fullwidth is-danger is-once">Deploy Now</button>
        </div>
    </form>
</div>
{% endblock %}
