{% extends 'page.html.twig' %}

{% block body %}
<div class="box">
    <header class="project-heading">
        <div class="columns">
            <div class="column">
                <div class="columns is-mobile is-vcentered">
                    <div class="column is-narrow">
                        <span class="icon is-inline-block is-size-3"><i class="fab fa-{{ project.provider }}"></i></span>
                    </div>
                    <div class="column is-narrow">
                        <h1 class="is-size-3">Deploy {{ project.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form method="POST" action="{{ path_for('project.deploy', { key: project.key } ) }}">
        <div class="field control">
            <label class="radio is-full-width">
                <input type="radio" name="project[branch]" value="{{ project.branch}}" checked="checked">
                Default branch ({{ project.branch}})
            </label>
        </div>
        <p>Or</p>
        <div class="field control">
            <!-- <label class="radio is-full-width">
                <input type="radio" name="project[branch]" data-target="#project_choose_branch" value="{{ project.branch}}">
                Choose a branch
            </label> -->
        <!-- </div>
        <div class="field control select" id="project_choose_branch"> -->
            <div class="select">
                <select name="project[branch]">
                    <option value="branch-1">branch-1</option>
                    <option value="branch-2">branch-2</option>
                </select>
            </div>
        </div>
        <p>Or</p>
        <div class="field control">
            <!-- <label class="radio is-full-width">
                <input type="radio" name="project[branch]" data-target="#project_choose_tag" value="{{ project.branch}}">
                Choose a tag
            </label> -->
        <!-- </div>
        <div class="field control select" id="project_choose_tag"> -->
            <div class="select">
                <select name="project[branch]">
                    <option value="tag-1">tag-1</option>
                    <option value="tag-2">tag-2</option>
                </select>
            </div>
        </div>

        <div class="field is-grouped is-both-sides">
            <div class="control">
                <a class="button" href="{% if not project.loaded %}{{ path_for('project.index') }}{% else %}{{ path_for('project.view', { key: project.key }) }}{% endif %}">Cancel</a>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary is-once">Deploy Now</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
