{% extends 'page.html.twig' %}

{% block body %}
<div class="box">
    <header class="project-heading">
        <div class="columns">
            <div class="column">
                <div class="columns is-mobile is-vcentered">
                    <div class="column is-narrow">
                        <span class="icon is-inline-block is-size-3"><i class="fab fa-{{ project.provider }}"></i></span>
                    </div>
                    <div class="column is-narrow">
                        <h1 class="is-size-3">Deploy {{ project.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form method="POST" action="{{ path_for('project.deploy', { key: project.key } ) }}" class="container is-fluid">
        <!-- <div class="columns is-mobile is-vcentered">
            <div class="field control column is-4">
                <label class="radio is-full-width">
                    <input type="radio" name="project[branch]" value="{{ project.branch}}" checked="checked">
                    Default branch
                </label>
            </div>
            <div class="column">
                <p>{{ project.branch}}</p>
            </div>
        </div> -->
        <div class="field column is-4" id="project_choose_branch">
            <label class="label">Branch or Tag</label>
            <p class="control has-icons-left">
                <span class="select">
                    <select name="project[branch]">
                        <optgroup label="Branches">
                            <option value="{{ project.branch }}" selected="selected">{{ project.branch }}</option>
                            <option value="branch-2">branch-2</option>
                        </optgroup>
                        <optgroup label="Tags">
                            <option value="tag-1">tag-1</option>
                            <option value="tag-2">tag-2</option>
                        </optgroup>
                    </select>
                </span>
                <span class="icon is-small is-left">
                    <i class="fas fa-code-branch"></i>
                </span>
            </p>
        </div>
        <div class="field is-grouped is-both-sides">
            <div class="control">
                <a class="button" href="{% if not project.loaded %}{{ path_for('project.index') }}{% else %}{{ path_for('project.view', { key: project.key }) }}{% endif %}">Cancel</a>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary is-once">Deploy Now</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
