{% extends 'page.html.twig' %}

{% block body %}
<header class="project-heading">
    <div class="columns">
        <div class="column">
            <div class="columns is-mobile">
                <div class="column is-narrow">
                    <span class="icon is-inline-block is-size-3"><i class="fab fa-{{ project.provider }}"></i></span>
                </div>
                <div class="column">
                    <h1 class="is-size-3">{{ project.repository }}</h1>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <a class="button is-link is-block-mobile is-once"
               href="{{ path_for('project.deploy', { key: project.key }) }}">Deploy Now</a>
        </div>
    </div>
</header>
<section class="section">
    <div class="columns">
        <div class="column is-3">
            <p class="heading">Default Branch</p>
            <p>
                <span class="icon is-inline-block is-size-7"><i class="fas fa-code-branch"></i></span>
                <span class="is-inline-block">{{ branch_link(project) }}</span>
            </p>
        </div>
        <div class="column is-3">
            <p class="heading">Last Deployment</p>
            <p>{% if project.last_release %}{{ project.last_release|human_date }}{% else %}Not yet deployed{% endif %}</p>
        </div>
        <div class="column is-3">
            <p class="heading">Last Author</p>
            <p>
                <!-- <span class="icon is-inline-block is-size-7"><i class="fas fa-user"></i></span> -->
                {% if project.last_sha %}{{ project.last_author }}{% else %}Not yet deployed{% endif %}
            </p>
        </div>
        <div class="column is-ss">
            <p class="heading">Last SHA</p>
            <p>
                <!-- <span class="icon is-inline-block is-size-7"><i class="fas fa-hashtag"></i></span> -->
                {% if project.last_sha %}{{ sha_link(project, project.last_sha) }}{% else %}Not yet deployed{% endif %}
            </p>
        </div>
        <div class="column is-narrow">
            <a class="button is-block-mobile"
               href="{{ path_for('project.edit', { key: project.key }) }}">Edit Project</a>
        </div>
    </div>
</section>

{% if 0 < releases|length %}
<div class="tabs">
    <ul>
    {% for release in releases %}
        <li{% if selected_release.number == release.number %} class="is-active"{% endif %}>
            <a href="{{ path_for('project.view', { key: project.key }, { release: release.number } ) }}">#{{ release.number }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<section class="section">
    <div class="box is-border-left-{{ selected_release.status }}">
    {% if selected_release.deployed %}
        <a class="button is-once is-block-mobile is-pulled-right">
            <span class="icon"><i class="fas fa-redo-alt"></i></span>
            <span>Re-Deploy</span>
        </a>
    {% endif %}
        <div class="columns">
            <div class="column is-half">
                <ul class="content-list">
                    <li>
                        <span class="icon is-inline-block"><i class="fas fa-user"></i></span>
                        <span class="is-inline-block">{{ selected_release.author }}</span>
                    </li>
                    <li>
                        <span class="icon is-inline-block"><i class="fas fa-hashtag"></i></span>
                        <span class="is-inline-block">{{ sha_link(project, selected_release.sha) }}</span>
                    </li>
                    <li>
                        <span class="icon is-inline-block"><i class="fas fa-align-left"></i></span>
                        <code class="is-inline-block">{{ selected_release.message }}</code>
                    </li>
                </ul>
            </div>
            <div class="column is-narrow">
                <ul class="content-list">
                    <li class="is-{{ selected_release.status }}">
                        {% if selected_release.deployed %}
                        {% set icon="far fa-thumbs-up" %}
                        {% elseif selected_release.failed %}
                        {% set icon="far fa-thumbs-down" %}
                        {% else %}
                        {% set icon="fas fa-spinner" %}
                        {% endif %}
                        <span class="icon is-inline-block"><i class="{{ icon }}"></i></span>
                        <span class="is-inline-block">{{ selected_release.status|title }}</span>
                    </li>
                    <li>
                        <span class="icon is-inline-block"><i class="fas fa-stopwatch"></i></span>
                        <span class="is-inline-block">{{ selected_release.duration }} seconds</span>
                    </li>
                    <li>
                        <span class="icon is-inline-block"><i class="far fa-calendar-alt"></i></span>
                        <span class="is-inline-block tooltip" data-tooltip="{{ selected_release.finished }}">{{ selected_release.finished|human_date }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% elseif last_release.pending %}
{% else %}
<section class="hero is-light has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        No deployments yet
      </h1>
      <h2 class="subtitle">
        Click the 'Deploy Now' button above to kick off your first deployment!
      </h2>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
