{% extends 'page.html.twig' %}

{% block body %}
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="panel">
                <h3 class="panel-heading">
                    Project Details
                    <a class="button is-small is-primary is-pulled-right"
                       href="{{ path_for('project.edit', { id: project.id }) }}">Edit</a>
                </h3>
                <div class="panel-block">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <th>Repository</th>
                                <td class="has-text-right">{{ repo_link(project) }}</td>
                            </tr>
                            <tr>
                                <th>Branch</th>
                                <td class="has-text-right"><span class="t1ag is-primary">{{ branch_link(project) }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-block">
                    <a class="button is-primary is-fullwidth"
                       href="{{ path_for('project.deploy', { id: project.id }) }}"
                       >Deploy Now</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="panel">
                <h3 class="panel-heading">Latest Deployment</h3>
                <div class="panel-block">
                {% if last_release %}
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <th>Started</th>
                                <td class="has-text-right"><span class="tooltip" data-tooltip="{{ last_release.started }}">{{ last_release.started|human_date }}</span></td>
                            </tr>
                            <tr>
                                <th>Author</th>
                                <td class="has-text-right">{{ last_release.author }}</td>
                            </tr>
                            <tr>
                                <th>Message</th>
                                <td class="has-text-right"><code>{{ last_release.message }}</code></td>
                            </tr>
                            <tr>
                                <th>SHA</th>
                                <td class="has-text-right">{{ sha_link(project, last_release.sha) }}</td>
                            </tr>
                            <tr>
                                <th>Duration</th>
                                <td class="has-text-right">
                                    <span class="tooltip" data-tooltip="Started {{ last_release.started }} and finished {{ last_release.finished }}">{{ last_release.duration }} seconds</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p>{{ project.name }} has never been deployed</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="panel">
                <h3 class="panel-heading">Deployments for {{ project.name }}</h3>
                <div class="panel-block">
                {% if releases|length > 0 %}
                    <div class="table-container">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>When</th>
                                    <th>Author</th>
                                    <th>SHA</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for release in releases %}
                                <tr>
                                    <td>
                                    {% if release.pending %}
                                        Not started yet
                                    {% else %}
                                        Started <span class="tooltip" data-tooltip="{{ release.started }}">{{ release.started|human_date }}</span>
                                        {% if release.deployed %}
                                        and took <span class="tooltip" data-tooltip="{{ release.finished }}">{{ release.duration }} seconds</span>
                                        {% elseif release.deploying %}
                                        {% elseif release.failed %}
                                        {% endif %}
                                    {% endif %}
                                    </td>
                                    <td>{{ release.author }}</td>
                                    <td>{{ sha_link(project, release.sha) }}</td>
                                    <td>
                                        <div class="field has-addons">
                                            <div class="control">
                                                <a class="button is-small is-prismary"><span class="icon tooltip is-tooltip-left" data-tooltip="Re-deploy commit {{ release.sha }}"><i class="fas fa-redo-alt"></i></span></a>
                                            </div>
                                            <div class="control">
                                                <a class="button is-small is-prsimary"
                                                   href="{{ path_for('release.view', { project: project.id, release: release.id }) }}"><span class="icon"><i class="fas fa-angle-right"></i></span></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>{{ project.name }} has not been released yet</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
