{% extends 'page.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
App.Deploy.init({
    project: '{{ project.key }}'
});
{% if selected_deployment and not selected_deployment.deployed and not selected_deployment.failed %}
App.Monitor.init({
    project: '{{ project.key }}',
    number: {{ selected_deployment.number ?? 0 }}
});
{% endif %}
</script>
{% endblock %}

{% block body %}
<div class="status-{{ project.status }}">

    <div class="header">
        {{ include('fragments/project/header.html.twig', {
            project: project,
            show_button_favourite: true,
            show_button_settings: true,
            show_button_deploy: true,
        } )}}

        <section class="project section">
            <div class="columns">
                <div class="column">
                    <p class="heading">Repository</p>
                    <p>
                        <span class="icon is-inline-block is-size-7"><i class="fab fa-{{ project.provider }}"></i></span>
                        <span class="is-inline-block">{{ repo_link(project) }}</span>
                    </p>
                </div>
                <div class="column">
                    <p class="heading">Default Branch</p>
                    <p>
                        <span class="icon is-inline-block is-size-7"><i class="fas fa-code-branch"></i></span>
                        <span class="is-inline-block">{{ branch_link(project) }}</span>
                    </p>
                </div>
                <div class="column status {% if project.last_status %}status--{{ project.last_status }}{% endif %}">
                    <p class="heading">Last Deployment</p>
                    <p>
                        <span class="status__icon"></span>
                        <span class="status__label is-inline">{% if project.last_deployment %}{{ project.last_deployment|human_date }}{% else %}Not yet deployed{% endif %}</span>
                    </p>
                </div>
                <div class="column">
                    <p class="heading">Last Deployed Author</p>
                    <p>
                        {% if project.last_sha %}{{ project.last_author }}{% else %}Not yet deployed{% endif %}
                    </p>
                </div>
                <div class="column">
                    <p class="heading">Last Deployed SHA</p>
                    <p>
                        {% if project.last_sha %}{{ sha_link(project, project.last_sha) }}{% else %}Not yet deployed{% endif %}
                    </p>
                </div>
            </div>
        </section>
    </div>

    {% if 0 < deployments|length %}
    <div class="tabs tabs-fullwidth is-boxed">
        <ul>
            <!-- <li class="tabs-heading">Deployment:</li> -->
        {% set first = 0 %}
        {% for deployment in deployments %}
            {% if first == 0 %}{% set first = deployment.id %}{% endif %}
            <li class="tab-is-{{ deployment.status }} {% if selected_deployment.number == deployment.number %} is-active {% endif %}">
                <a href="{{ path_for('project.view', { key: project.key }, { deployment: deployment.number } ) }}"><span>#</span>{{ deployment.number }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="deployment is-{{ selected_deployment.status }}">
        <section class="section">
            <div class="box" id="container-overview">
                <div class="columns">
                    <div class="column is-half">
                        <ul class="content-list">
                            <li>
                                <span class="icon is-inline-block"><i class="fas fa-hashtag"></i></span>
                                <span class="is-inline-block tooltip" data-tooltip="Commit SHA (branch)">{{ sha_link(project, selected_deployment.sha) }} ({{ branch_link(project, selected_deployment.branch) }})</span>
                            </li>
                            <li>
                                <span class="icon is-inline-block"><i class="fas fa-user-edit"></i></span>
                                <span class="is-inline-block tooltip" data-tooltip="Author">{{ selected_deployment.author }}</span>
                            </li>
                            <li>
                                <span class="icon is-inline-block"><i class="fas fa-user-shield"></i></span>
                                <span class="is-inline-block tooltip" data-tooltip="Committer">{{ selected_deployment.committer }}</span>
                            </li>
                            <li>
                                <span class="icon is-inline-block"><i class="fas fa-align-left"></i></span>
                                <code class="is-inline-block tooltip" data-tooltip="Message">{{ selected_deployment.message }}</code>
                            </li>
                        </ul>
                    </div>
                    <div class="column is-narrow">
                        <ul class="content-list">
                            <li class="status">
                                <span class="icon status__icon"></span>
                                <span class="status__label"></span>
                            </li>
                            <li>
                                <span class="icon is-inline-block"><i class="fas fa-stopwatch"></i></span>
                                <span class="is-inline-block tooltip" data-tooltip="Duration">{% if selected_deployment.deployed %}{{ selected_deployment.duration }} seconds{% else %}N/A{% endif %}</span>
                            </li>
                            <li>
                                <span class="icon is-inline-block"><i class="far fa-calendar-alt"></i></span>
                                <span class="is-inline-block tooltip" data-tooltip="Deployed at {{ selected_deployment.finished }}">{{ selected_deployment.finished|human_date }}</span>
                            </li>
                            <li>
                                <span class="icon is-inline-block"><i class="fas fa-user-cog"></i></span>
                                <span class="is-inline-block tooltip" data-tooltip="Deployed by">{% if selected_deployment.source %}{{ selected_deployment.source }}{% else %}N/A{% endif %}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            {% if not selected_deployment.reactivation %}
            {% if selected_deployment.id != first and selected_deployment.deployed %}
                <a class="button is-once is-fullwidth-mobile is-pulled-right-desktop confirm{% if not project.deployable %} tooltip is-tooltip-bottom{% endif %}>"
                   {% if project.deployable %}href="{{ path_for('project.redeploy', { key: project.key, deployment: selected_deployment.id } )}}"{% endif %}
                   {% if not project.deployable %}disabled="disabled" data-tooltip="Project is not currently deployable"{% endif %}>
                    <span class="icon"><i class="fas fa-redo-alt"></i></span>
                    <span>Re-Activate</span>
                </a>
            {% endif %}
            {% elseif selected_deployment.original %}
                <div class="is-text">
                    <span>Reactivation of #{{ selected_deployment.original.number }}</span>
                </div>
            {% else %}
                <div class="is-text">
                    <span>Reactivation of previous deployment</span>
                </div>
            {% endif %}
            </div>
        </section>

        <section class="section">
            <div class="tabs js-tabs">
                <ul>
                    <li class="is-active"><a href="#" class="tab" data-target="#js-output">Output</a></li>
                    <li><a href="#" class="tab" data-target="#js-configuration">Configuration</a></li>
                </ul>
            </div>
            <div class="tab-pane is-active" id="js-output">
                <div class="output" id="log-output">
            {% if events|length %}
                {% for heading,data in events %}
                    <div class="details" id="details-{{ data.id }}">
                        {% set type_class = 'is-type-' ~ data.type %}
                        {% set has_events = (0 < data.events|length) %}
                        <div class="summary has-events is-type-{{ data.type }}" >
                            <p class="duration">{% if 0 == data.times.duration %}&lt;1{% else %}{{ data.times.duration }}{% endif %}s</p>
                            <p {% if has_events %}data-events="events-{{ loop.index }}"{% endif %}>{{ heading }}</p>
                        </div>
                        {% if has_events %}
                        <div class="events" id="events-{{ data.id }}">
                        {% for event in data.events %}
                            <div class="event">{{ event }}</div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
                </div>
                <div id="output-loader"><img src="/img/loader-bar.gif" width="16" height="11"></div>
            </div>
            <div class="tab-pane" id="js-configuration">
                <pre>{% if selected_deployment.configuration %}{{ selected_deployment.configuration }}{% else %}Configuration not yet available{% endif %}</pre>
            </div>
        </section>
    </div>

    {% else %}
    <section class="hero is-light has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            No deployments yet
          </h1>
          <h2 class="subtitle">
            Click the 'Deploy Now' button above to kick off your first deployment!
          </h2>
        </div>
      </div>
    </section>
    {% endif %}
</div>
{% endblock %}
