{% extends 'page.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
App.Deploy.init({
    project: '{{ project.key }}'
});
</script>
{% endblock %}

{% block body %}
<div class="project">

    <div class="header">
        {{ include('fragments/project/header.html.twig', {
            project: project,
            show_button_backlink: true,
        } )}}
    </div>

    {{ include('fragments/project/tabs.html.twig', {
        project: project,
        active: 'project.webhooks',
    } )}}

    <section class="section">
        {# <div class="box"> #}
            <p class="is-size-4">Webhook Deployments</p>
            <p>The deployment webhook url for this project is:</p>
            <p><code>{{ request.uri.scheme }}://{{ request.header('host')[0] }}{{ path_for('project.webhook', { token: project.token })}}</code></p>
        {# </div> #}
    </section>

</div>
{% endblock %}
