{% extends 'layouts/enclosed.html.twig' %}

{% set layout_title = 'Invite Someone' %}
{% set icon = 'envelope' %}

{% block layout_body %}
<form method="post" action="">
    <div class="field required{% if user.hasError('name') %} errored{% endif %}">
        <div class="control">
            <label class="label">Name</label>
            <input class="input"
                   type="text"
                   value="{{ user.name }}"
                   name="user[name]"
                   placeholder="Fred Bloggs"/>
            <p class="help is-danger" id="user_name_error">{{ user.getError('name')|join(', ') }}</p>
        </div>
    </div>
    <div class="field required{% if user.hasError('email') %} errored{% endif %}">
        <div class="control">
            <label class="label">Email Address</label>
            <input class="input"
                   type="text"
                   value="{{ user.email }}"
                   name="user[email]"
                   placeholder="fred@example.com" />
            <p class="help is-danger" id="user_email_error">{{ user.getError('email')|join(', ') }}</p>
        </div>
    </div>

    <div class="field required{% if user.hasError('password') %} errored{% endif %}">
        <label class="label" for="password_value">New Password</label>
        <div class="control"><input class="input{% if user.hasError('password_value') %} is-danger{% endif %}" type="password" id="password_value" name="password[value]"></div>
        <p class="help is-danger" id="password_value">{{ user.getError('password')|join(', ') }}</p>
    </div>

    <div class="field required{% if user.hasError('password') %} errored{% endif %}">
        <label class="label" for="password_confirm">Confirm New Password</label>
        <div class="control"><input class="input{% if user.hasError('password_confirm') %} is-danger{% endif %}" type="password" id="password_confirm" name="password[confirm]"></div>
        <p class="help is-danger" id="password_confirm">{{ user.getError('password')|join(', ') }}</p>
    </div>

    <div class="field is-grouped is-both-sides">
        <div class="control">
            <a class="button" href="{{ path_for('users.index') }}">Cancel</a>
        </div>
        <div class="control">
            <button type="submit" class="button is-primary is-once">Send Invitation</button>
        </div>
    </div>
</form>
{% endblock %}
