<p>Hi there!</p>

<p>{{ customer.moniker }} invited you to join '{{ league.name }}'. Visit the link below to join!</p>

<p><a href="{{ site.url }}/league/join/{{ league.hash }}">{{ site.url }}/league/join/{{ league.hash }}</a></p>

<p>Many thanks!</p>

<p>KismatCric Team</p>
