<form method="POST" action="">
    <div class="field {% if project.hasError('provider') %}errored{% endif %}">
        <label class="label" for="project_provider">Provider</label>
        {% if project.loaded %}
        <p id="project_provider">{{ project.provider }}</p>
        {% else %}
        <div class="control">
            <div class="select{% if project.hasError('provider') %} is-danger{% endif %}">
                <select id="project_provider" name="project[provider]">
                {% if not project.loaded %}
                    <option value="">Select&hellip;</option>
                {% endif %}
                {% for key,name in project.getProviderOptions() %}
                    <option value="{{ key }}" {% if key == project.provider %}selected="selected"{% endif %}>{{ name }}</option>
                {% endfor %}
                </select>
            </div>

        </div>
        <p class="help is-danger" id="project_provider_error">{{ project.getError('provider')|join(', ') }}</p>
        <p class="help"><strong>Please note: </strong>This field can't be changed once your project is added</p>
        {% endif %}
    </div>

    <div class="field {% if project.hasError('repository') %}errored{% endif %}">
        <label class="label" for="project_repository">Repository</label>
    {% if project.loaded %}
        <p id="project_repository">{{ project.repository }}</p>
    {% else %}
        <div class="control"><input class="input{% if project.hasError('repository') %} is-danger{% endif %}" type="text" placeholder="vendor/project" value="{{ project.repository }}" id="project_repository" name="project[repository]"></div>
        <p class="help is-danger" id="project_repository_error">{{ project.getError('repository')|join(', ') }}</p>
        <p class="help"><strong>Please note: </strong>This field can't be changed once your project is added</p>
    {% endif %}
    </div>

    <div class="field {% if project.hasError('branch') %}errored{% endif %}">
        <label class="label" for="project_branch">Branch</label>
        <div class="control"><input class="input{% if project.hasError('branch') %} is-danger{% endif %}" type="text" placeholder="vendor/project" value="{{ project.branch}}" id="project_branch" name="project[branch]"></div>
        <p class="help is-danger" id="project_branch_error">{{ project.getError('branch')|join(', ') }}</p>
    </div>

    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <a class="button" href="{% if not project.loaded %}{{ path_for('project.index') }}{% else %}{{ path_for('project.view', { key: project.key }) }}{% endif %}">Cancel</a>
        </div>
        <div class="control">
            <button type="submit" class="button is-primary is-once">Save</button>
        </div>
    </div>
</form>
