<form method="POST" action="">

    <div class="field required{% if project.hasError('name') %} errored{% endif %}">
        <label class="label" for="project_name">Name</label>
        <div class="control"><input class="input{% if project.hasError('name') %} is-danger{% endif %}" type="text" placeholder="My Project" value="{{ project.name}}" id="project_name" name="project[name]"></div>
        <p class="help is-danger" id="project_branch_error">{{ project.getError('name')|join(', ') }}</p>
    </div>

    <div class="field required">
        <label class="label" for="project_provider">Source Control Provider</label>
        <div class="control">
            <div class="select is-fullwidth{% if project.hasError('provider') %} is-danger{% endif %}">
                <select id="project_provider" name="project[provider]">
                {% if not project.loaded %}
                    <option value="">Select&hellip;</option>
                {% endif %}
                {% for key,label in providers %}
                    <option value="{{ key }}" {% if key == project.provider %}selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <p class="help is-danger" id="project_provider_error">{{ project.getError('provider')|join(', ') }}</p>
    </div>

    <div class="field required{% if project.hasError('repository') %} errored{% endif %}">
        <label class="label" for="project_repository">Repository</label>
        <div class="control"><input class="input{% if project.hasError('repository') %} is-danger{% endif %}" type="text" placeholder="vendor/project" value="{{ project.repository }}" id="project_repository" name="project[repository]"></div>
        <p class="help is-danger" id="project_repository_error">{{ project.getError('repository')|join(', ') }}</p>
    </div>

    <div class="field {% if project.hasError('branch') %}errored{% endif %}">
        <label class="label" for="project_branch">Branch</label>
        <div class="control"><input class="input{% if project.hasError('branch') %} is-danger{% endif %}" type="text" placeholder="vendor/project" value="{{ project.branch}}" id="project_branch" name="project[branch]"></div>
        <p class="help is-danger" id="project_branch_error">{{ project.getError('branch')|join(', ') }}</p>
    </div>

    <div class="field is-grouped is-both-sides">
        <div class="control">
            <a class="button" href="{% if not project.loaded %}{{ path_for('project.index') }}{% else %}{{ path_for('project.view', { key: project.key }) }}{% endif %}">{% if not project.loaded %}Cancel{% else %}Back{% endif %}</a>
        </div>
        <div class="control">
            <button type="submit" class="button is-primary is-once">Save</button>
        </div>
    </div>
</form>
