{% for project in projects %}
    <div class="box project">
        <div class="columns">
            <div class="column is-narrow is-border-right is-border-none-mobile is-pulled-right-mobile">
                <a href="{{ path_for('user.favourite', { project: project.id }) }}"
                   class="icon is-favourite is-favourite-{{ is_favourite(project) ? 'on' : 'off' }}"><i class="{{ is_favourite(project) ? 'fas' : 'far' }} fa-star"></i></a>
            </div>
            <div class="column">
                <span class="is-size-7">Name</span><br />
                <a href="{{ path_for('project.view', { key: project.key }) }}" class="js-project-link">{{ project.name }}</a>
            </div>
            <div class="column">
                <span class="is-size-7">Default Branch</span><br />
                {{ project.branch }}
            </div>
            <div class="column{% if project.last_status %} is-{{ project.last_status }}{% endif %}">
                <span class="is-size-7">Last Deployment</span><br />
            {% if project.last_deployment %}
                {% if 'deployed' == project.last_status %}
                {% set icon="far fa-thumbs-up" %}
                {% elseif 'failed' == project.last_status %}
                {% set icon="far fa-thumbs-down" %}
                {% else %}
                {% set icon="fas fa-spinner" %}
                {% endif %}
                <span class="icon is-inline"><i class="{{ icon }}"></i></span>
                <span class="is-inline">{{ project.last_deployment|human_date }}</span>
            {% else %}
                Not yet deployed
            {% endif %}
            </div>
            <div class="column">
                <span class="is-size-7">Last Deployed Author</span><br />
                {% if not project.last_author %}Not yet deployed{% else %}{{ project.last_author }}{% endif %}
            </div>
            <div class="column">
                <span class="is-size-7">Last Deployed SHA</span><br />
                {% if not project.last_sha %}Not yet deployed{% else %}{{ sha_link(project, project.last_sha) }}{% endif %}
            </div>
            {# <div class="column is-narrow">
                <a class="button is-link" href="{{ path_for('project.view', { key: project.key }) }}">View</a>
            </div> #}
        </div>
    </div>
{% endfor %}
