<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow, noodp" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Deploy{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% if security.hasLogin() %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    Deploy
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbar_menu" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Projects</a>

                        <div class="navbar-dropdown">
                            <div class="navbar-item"><strong>Favourites</strong></div>
                        {% set faves = current_favourites() %}
                        {% if 0 < faves|length %}
                        {% for fave in faves %}
                            <a class="navbar-item" href="{{ path_for('project.view', { key: fave.key }) }}">
                                {{ fave.name }}
                            </a>
                        {% endfor %}
                        {% else %}
                            <div class="navbar-item"><p>Click the star icon on the project list or<br /> project view to set your favourites</p></div>
                        {% endif %}
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ path_for('project.index') }}">
                                All Projects
                            </a>
                        </div>
                    </div>

                    <a class="navbar-item" href="{{ path_for('project.add') }}" >Add Project</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{ security.name }}
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a href="{{ path_for('user.profile') }}" class="navbar-item">
                                Account
                            </a>
                            <hr class="navbar-divider">
                            <a href="{{ path_for('user.logout') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}
        {{ include('fragments/notifications.html.twig') }}
        <div id="main-wrapper" class="container is-fluid">
            {% block body %}{% endblock %}
        </div>
    {% if security.hasLogin() %}
        <div class="modal" id="js-modal">
            <div class="modal-background"></div>
            <div class="modal-content"></div>
            <button class="modal-close is-large js-modal-close" aria-label="close"></button>
        </div>
    {% endif %}
        <footer class="footer is-size-7">
            <div class="content has-text-centered">
                <p>
                    <strong>deploy</strong> on PHP <strong>{{ php.version }}</strong> by <a target="_blank" href="https://github.com/ronanchilvers">Ronan Chilvers</a> -
                    Licensed with <a target="_blank" href="https://choosealicense.com/licenses/mit/">MIT</a> -
                    Styled with <a target="_blank" href="https://bulma.io">Bulma</a> -
                    Icons by <a target="_blank" href="https://fontawesome.com">Font Awesome</a>
                </p>
            </div>
        </footer>
        <script type="text/javascript" src="/js/vendor.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript">
            /** global: App **/
            App.Favourites.init();
            App.Modal.init();
        </script>
        {% if debug %}<script type="text/javascript">App.Debug.init({ enabled: true });</script>
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
