{% extends 'layouts/user/admin.html.twig' %}

{% block layout_body %}

<div class="box">
    <form class="table-container" method="post" action="">
        <table class="table is-bordersed is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>Level</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="5"></th>
                </tr>
            </tfoot>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><div class="control"><input class="input is-static" value="{{  user.name  }}" readonly></div></td>
                    <td><div class="control"><input class="input is-static" value="{{  user.email  }}" readonly></div></td>
                    <td><div class="control"><input class="input is-static" value="{{  user.last_login }}" readonly></div></td>
                    <td>
                        <div class="control">
                            <div class="select">
                                <select>
                                {% for value, label in user.getLevelOptions() %}
                                    <option
                                        value="{{ value }}"
                                        {% if value == user.level %} selected {% endif %}
                                        >{{ label }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="control">
                            <div class="select">
                                <select>
                                {% for value, label in user.getStatusOptions() %}
                                    <option
                                        value="{{ value }}"
                                        {% if value == user.status %} selected {% endif %}
                                        >{{ label }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}
