{% extends 'page.html.twig' %}

{% block body %}
<div class="Subhead">
    <h2 class="Subhead-heading">Project List</h1>
</div>

{% if 0 < projects|length %}
<div class="Box">
    <div class="Box-header clearfix">
        <div class="float-left col-4">Name</div>
        <div class="float-left col-4">Repository</div>
        <div class="float-left col-2">Updated</div>
        <div class="float-left col-2"></div>
    </div>
    <ul>
    {% for project in projects %}
        <li class="Box-row clearfix">
            <div class="float-left col-4">{{ project.name }}</div>
            <div class="float-left col-4">{{ project.provider }}:{{ project.repository }}@{{ project.branch }}</div>
            <div class="float-left col-2">{{ project.updated_at }}</div>
            <div class="float-left col-2">
                <a href="{{ path_for('project.edit', { id: project.id }) }}">Edit</a>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% else %}
<div class="blankslate">
  <h3>No projects found</h3>
  <p><a href="{{ path_for('project.add') }}">Click here to add one</a></p>
</div>
{% endif %}
{% endblock %}
